/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Estilo do corpo */
body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Container do cabeçalho */
.header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

/* Estilo da logo */
.logo {
    width: 2px;
    border-radius: 10px;
    padding: 5px;
}

/* Nome do sistema */
.title-container {
    text-align: center;
}

.title-container h1 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
    font-weight: bold;
    color: #4a4a4a;
    letter-spacing: 2px;
}

/* Linha acima e abaixo do título */
.title-container hr {
    width: 100%;
    height: 4px;
    background: #5c6bc0;
    margin: 5px 0;
}

/* Container do login */
.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 800px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Sombra ao redor do container */
.container::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    right: -8px;
    bottom: -8px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    z-index: -1;
}

/* Título LOGIN */
h2 {
    font-size: 40px;
    color: #5c5c5c;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {   
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

/* Labels alinhados com inputs */
label {
    font-size: 18px;
    font-weight: bold;
    color: #6a6a6a;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

/* Campos de entrada */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

/* Botão de login pequeno e na direita */
.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #5c6bc0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #3f51b5;
}

/* Footer com duas linhas */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.erro {
    color: red;
    font-size: 14px;
}

.footer div {
    width: 100%;
    height: 3px;
    margin-bottom: 20px;
    background: #5c6bc0;
    margin-top: 5px;
}